body {
  margin: 0;
  background: pink;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.stage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  text-align: center;
}

#cake-container {
  position: relative;
  width: 280px;
  height: 420px;
  margin: 0 auto;
}

.cake-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
}

.topper {
  position: absolute;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.candle {
  position: absolute;
  width: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.message {
  opacity: 0;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}
